In [1]:
import requests
import defs
import pandas as pd

In [2]:
session = requests.Session()
instrument = "EUR_USD"
count = 10
granularity = "H1"
url = f"{defs.OANDA_URL}/instruments/{instrument}/candles"

In [3]:
params = dict(
    count = count,
    granularity = granularity,
    price = "MBA"
)

In [6]:
response = requests.get(url, params=params, headers=defs.SECURE_HEADER)
response.status_code

200

In [7]:
data = response.json()

In [8]:
data.keys()

dict_keys(['instrument', 'granularity', 'candles'])

In [9]:
len(data['candles'])

10

In [12]:
prices = ['mid', 'bid', 'ask'] 
ohlc = ['o', 'h', 'l', 'c']

In [13]:
for price in prices:
    for oh in ohlc:
        print(f"{price}_{oh}")

mid_o
mid_h
mid_l
mid_c
bid_o
bid_h
bid_l
bid_c
ask_o
ask_h
ask_l
ask_c

In [16]:
candle_data = []

for candle in data['candles']:
    if candle['complete'] == False:
        continue
    new_dict = {}
    new_dict['time'] = candle['time']
    new_dict['volume'] = candle['volume']
    for price in prices:
        for oh in ohlc:
            new_dict[f'{price}_{oh}'] = candle[price][oh]
    candle_data.append(new_dict)

print(candle_data[0])

{'time': '2022-09-07T17:00:00.000000000Z', 'volume': 5180, 'mid_o': '0.99734', 'mid_h': '1.00030', 'mid_l': '0.99715', 'mid_c': '0.99972', 'bid_o': '0.99727', 'bid_h': '1.00023', 'bid_l': '0.99708', 'bid_c': '0.99961', 'ask_o': '0.99741', 'ask_h': '1.00038', 'ask_l': '0.99722', 'ask_c': '0.99982'}

In [17]:
candles_df = pd.DataFrame.from_dict(candle_data)

In [18]:
candles_df

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2022-09-07T17:00:00.000000000Z,5180,0.99734,1.00030,0.99715,0.99972,0.99727,1.00023,0.99708,0.99961,0.99741,1.00038,0.99722,0.99982
1,2022-09-07T18:00:00.000000000Z,3261,0.99970,0.99984,0.99818,0.99824,0.99961,0.99976,0.99810,0.99817,0.99980,0.99991,0.99825,0.99832
2,2022-09-07T19:00:00.000000000Z,3328,0.99820,1.00100,0.99816,1.00086,0.99813,1.00093,0.99808,1.00080,0.99827,1.00108,0.99822,1.00093
3,2022-09-07T20:00:00.000000000Z,1656,1.00086,1.00110,1.00054,1.00072,1.00079,1.00103,1.00046,1.00061,1.00092,1.00118,1.00062,1.00082
4,2022-09-07T21:00:00.000000000Z,614,1.00090,1.00108,1.00068,1.00086,1.00068,1.00088,1.00041,1.00074,1.00111,1.00143,1.00085,1.00098
5,2022-09-07T22:00:00.000000000Z,2071,1.00086,1.00132,1.00044,1.00058,1.00074,1.00123,1.00035,1.00050,1.00099,1.00140,1.00052,1.00067
6,2022-09-07T23:00:00.000000000Z,1606,1.00057,1.00057,0.99936,0.99980,1.00049,1.00049,0.99929,0.99974,1.00065,1.00065,0.99943,0.99987
7,2022-09-08T00:00:00.000000000Z,3353,0.99982,1.00008,0.99829,0.99854,0.99976,1.00002,0.99821,0.99847,0.99989,1.00016,0.99837,0.99861
8,2022-09-08T01:00:00.000000000Z,3781,0.99854,0.99916,0.99846,0.99848,0.99846,0.99909,0.99838,0.99840,0.99862,0.99924,0.99854,0.99855

In [19]:
candles_df.to_pickle("EUR_USD_M1.pkl")

In [20]:
data_frame_test = pd.read_pickle("EUR_USD_M1.pkl")

In [21]:
data_frame_test

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2022-09-07T17:00:00.000000000Z,5180,0.99734,1.00030,0.99715,0.99972,0.99727,1.00023,0.99708,0.99961,0.99741,1.00038,0.99722,0.99982
1,2022-09-07T18:00:00.000000000Z,3261,0.99970,0.99984,0.99818,0.99824,0.99961,0.99976,0.99810,0.99817,0.99980,0.99991,0.99825,0.99832
2,2022-09-07T19:00:00.000000000Z,3328,0.99820,1.00100,0.99816,1.00086,0.99813,1.00093,0.99808,1.00080,0.99827,1.00108,0.99822,1.00093
3,2022-09-07T20:00:00.000000000Z,1656,1.00086,1.00110,1.00054,1.00072,1.00079,1.00103,1.00046,1.00061,1.00092,1.00118,1.00062,1.00082
4,2022-09-07T21:00:00.000000000Z,614,1.00090,1.00108,1.00068,1.00086,1.00068,1.00088,1.00041,1.00074,1.00111,1.00143,1.00085,1.00098
5,2022-09-07T22:00:00.000000000Z,2071,1.00086,1.00132,1.00044,1.00058,1.00074,1.00123,1.00035,1.00050,1.00099,1.00140,1.00052,1.00067
6,2022-09-07T23:00:00.000000000Z,1606,1.00057,1.00057,0.99936,0.99980,1.00049,1.00049,0.99929,0.99974,1.00065,1.00065,0.99943,0.99987
7,2022-09-08T00:00:00.000000000Z,3353,0.99982,1.00008,0.99829,0.99854,0.99976,1.00002,0.99821,0.99847,0.99989,1.00016,0.99837,0.99861
8,2022-09-08T01:00:00.000000000Z,3781,0.99854,0.99916,0.99846,0.99848,0.99846,0.99909,0.99838,0.99840,0.99862,0.99924,0.99854,0.99855