In [18]:
import requests
from .. import defs
import pandas as pd

In [2]:
#Persisistent connection to oanda api
session = requests.Session()

In [3]:
url = f"{defs.OANDA_URL}/accounts/{defs.ACCOUNT_ID}/instruments"
url

'https://api-fxpractice.oanda.com/v3/accounts/101-001-23182287-001/instruments'

In [5]:
#make request to Oanda API
response = session.get(url, headers=defs.SECURE_HEADER)
response.status_code

200

In [7]:
data = response.json()

In [8]:
data.keys()

dict_keys(['instruments', 'lastTransactionID'])

In [9]:
instruments = data['instruments']

In [11]:
instruments[0].keys()

dict_keys(['name', 'type', 'displayName', 'pipLocation', 'displayPrecision', 'tradeUnitsPrecision', 'minimumTradeSize', 'maximumTrailingStopDistance', 'minimumTrailingStopDistance', 'maximumPositionSize', 'maximumOrderUnits', 'marginRate', 'guaranteedStopLossOrderMode', 'tags', 'financing'])

In [13]:
instrument_data = []

for item in instruments:
    new_dict = dict(
        name = item['name'],
        type = item['type'],
        displayName = item['displayName'],
        pipLocation = item['pipLocation'],
        marginRate = item['marginRate']
    )
    instrument_data.append(new_dict)

In [15]:
for item in instrument_data[0:3]:
    print(item)

{'name': 'AUD_HKD', 'type': 'CURRENCY', 'displayName': 'AUD/HKD', 'pipLocation': -4, 'marginRate': '0.1'}
{'name': 'USD_SGD', 'type': 'CURRENCY', 'displayName': 'USD/SGD', 'pipLocation': -4, 'marginRate': '0.05'}
{'name': 'EUR_SEK', 'type': 'CURRENCY', 'displayName': 'EUR/SEK', 'pipLocation': -4, 'marginRate': '0.03'}

In [19]:
instrument_df = pd.DataFrame.from_dict(instrument_data)

In [20]:
instrument_df

       name      type displayName  pipLocation marginRate
0   AUD_HKD  CURRENCY     AUD/HKD           -4        0.1
1   USD_SGD  CURRENCY     USD/SGD           -4       0.05
2   EUR_SEK  CURRENCY     EUR/SEK           -4       0.03
3   NZD_CHF  CURRENCY     NZD/CHF           -4       0.04
4   AUD_CHF  CURRENCY     AUD/CHF           -4       0.04
..      ...       ...         ...          ...        ...
63  NZD_USD  CURRENCY     NZD/USD           -4       0.03
64  EUR_HUF  CURRENCY     EUR/HUF           -2       0.05
65  AUD_NZD  CURRENCY     AUD/NZD           -4       0.03
66  USD_NOK  CURRENCY     USD/NOK           -4       0.07
67  NZD_SGD  CURRENCY     NZD/SGD           -4       0.05

[68 rows x 5 columns]

In [21]:
#save instruments as pkl to use in other files
instrument_df.to_pickle("instruments.pkl")

In [22]:
new_table = pd.read_pickle("instruments.pkl")